@{
    Layout = "_Layout";
}

@model Clinic.Models.Patient

<h2>Add a doctor<h2>

<h4>add a doctor for patient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Select a doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" />    
}

<p>@Html.ActionLink("Back to patients", "Index")</p>