@{
  Layout = "_Layout";
}

@model Clinic.Models.Doctor

<h2>Edit</h2>

<h4>Edit Dr. @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Title) info:</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DoctorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Speciality)
    @Html.EditorFor(model => model.Speciality)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Doctor list", "Index")</p>